<html>
  <head>
    <h1>About Accuracy Accounting</h1>
  </head>
  <body>
    <h1> Est. in 2018 Accuracy Accounting is the number one rated accounting firm located in New York City. Today it has been rated a five star business with a high quality level of proformace. It took only 5 months to ge the website up, running, and ot to the public. Without the help from our staff we wouldnt of been able to create such a booming business.</h1>
  </body>
</html>